.contact_form{
    width: 600px;
    margin: auto;
}

#floatingtextArea{
    height: 200px;
}



@media screen and (max-width:768px) {
    .contact_form{
        width: 100%;
        padding: 12px;
        margin: auto;
    }
}