.array_sheet{
    height: 900px;
    width: 100%;
}

.array_sheet_img{
    height: 800px;
    width: 100%;
}

.array_sheet_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.keyboard_slider_item{
    height: 350px;
    width: 350px;
}

.keyboard_slider_item img{
    height: 100%;
    width: 100%;
}

.extra_container img{
    height: 350px;
    width: 350px;
}

.extra_videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extra_videos video{
height: 500px;
width: 400px;
}

.api_cheatsheet_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.api_cheatsheet_container object{
    height: 800px;
    width: 350px;
    object-fit: contain;
}


@media screen and (max-width:768px) {
    .array_sheet{
        height: 500px;
        width: 100%;
    }
    
    .array_sheet_img{
        height: 400px;
        width: 100%;
    }
    .extra_container img{
        height: 350px;
        width: 100%;
    }
    .extra_videos video{
        height: 500px;
        width: 100%;
        }
}